body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  padding: 20px 50px;
  z-index: 3;
  position: relative;
}

.dice-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(45px, auto);
  gap: 20px;
}

.roll-button {
  width: 100%;
}

.win-banner {
  position: absolute;
  width: 330px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

button:focus {
  box-shadow: none !important;
}
